
#content-box {
    display:flex;
    width: 100vw;
    height: 100vh;

}

/* Left Side */
#content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("cherry-blossom.jpeg");
    background-color: lightpink;
    width: 40%;
}

#content-left h1 {
    color: hotpink;
    text-transform: uppercase;
    font-size: 3rem;
}

#title-banner {
    background-color: white;
    opacity: 80%;
    text-align: center;
    margin-top: 50%;
}


/*Right Side */

#content-right {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

fieldset {
    display: flex;
    border: none;
}

.form-fields {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

#submit-section {
    display: flex;
    flex-direction: column;
}