
#content-box {
    display:flex;
    width: 100vw;
    height: 100vh;

}
#content-left {
    background-image: url("cherry-blossom.jpeg");
    background-color: lightpink;
    width: 30%;
}

ul {
    list-style: none;
}

.form-fields {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}